<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <context-param>
        <description>
            Parametro que indica si este artefacto es productivo o de QA.
            True = productivo, False = de QA.
            Util cuando el ear se debe instalar dos veces en la misma maquina para propositos de test y prod.
        </description>
        <param-name>production</param-name>
        <param-value>false</param-value>
    </context-param>


    <context-param>
        <description>Parametro con ubicacion del servicio web PagoDAWS. Se usa sólo cuando production = false</description>
        <param-name>PagoDaWsUrl</param-name>
        <!--<param-value>http://mlfsoaprd01.alico.corp:9080/BotonDePagoIntranet/PagoDAWS/PagoDAWS.wsdl</param-value>-->

        <param-value>http://mlfsoaqat01.alico.corp:9080/BotonDePagoIntranet/PagoDAWS/PagoDAWS.wsdl</param-value>
        <!--<param-value>http://localhost:9080/BotonDePagoIntranet/PagoDAWS/PagoDAWS.wsdl</param-value>-->

    </context-param>

    <context-param>
        <description>Ruta (carpeta del servidor) donde están los scripts CGI</description>
        <param-name>PagoCGIPath</param-name>
        <param-value>D:\\HubPagosTest\\cgi-bin\\</param-value>
    </context-param>

    <context-param>
        <description>Definición de si se está debugueando los pagos</description>
        <param-name>PagoDebug</param-name>
        <param-value>False</param-value>
    </context-param>



    <listener>
        <listener-class>cl.metlife.hdp.botonpago.listener.PaymentSessionListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LandingPago</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.LandingPago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LandingPago</servlet-name>
        <url-pattern>/LandingPago</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContinuarPagoFacilitador</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.facilitadorcomercio.ContinuarPagoFacilitador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContinuarPagoFacilitador</servlet-name>
        <url-pattern>/ContinuarPagoFacilitador</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PagoDirecto</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.PagoDirecto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PagoDirecto</servlet-name>
        <url-pattern>/PagoDirecto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InicioPago</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.InicioPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoFinalizado</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.PagoFinalizado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoFinalizadoWebPay</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.webpay.PagoFinalizadoWebPay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SantanderPagado</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.santander.Pagado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SantanderNotify</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.santander.Notify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioPagoSantander</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.santander.InicioPagoSantander</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioPagoWebPay</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.webpay.InicioPagoWebPay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyWebPay</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.webpay.NotifyWebPay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioPagoXML</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.pagoxml.InicioPagoXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioPagoEstado</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.estado.InicioPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyPagoEstado</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.estado.Notify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndPagoEstado</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.estado.Pagado</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>servipagnotify</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.servipag.ServipagNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servipagpagado</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.servipag.ServipagPagado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioPagoServipag</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.servipag.InicioPagoServipag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DummyStartPayment</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.dummypayment.DummyStartPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DummyNotify</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.dummypayment.DummyNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DummyPayed</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.dummypayment.DummyPayed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReloadConfig</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.ReloadConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Campaign</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.css.Campaign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaDatosPatPass</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.patpass.CapturaDatosPatPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioPagoPatPass</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.patpass.InicioPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CierrePatPass</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.patpass.Pagado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyPatPass</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.patpass.Notify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioPagoFacilitador</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.facilitadorcomercio.InicioPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyFacilitador</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.facilitadorcomercio.Notify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndFacilitador</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.servlet.facilitadorcomercio.Pagado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cgibin</servlet-name>
        <servlet-class>org.apache.catalina.servlets.CGIServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>

        <init-param>
            <param-name>passShellEnvironment</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>absoluteCgiPathPrefix</param-name>
            <param-value>true</param-value>
        </init-param>
    <!--<init-param>
        <param-name>parameterEncoding</param-name>
        <param-value>UTF8</param-value>
    </init-param>-->

        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CrearPago</servlet-name>
        <servlet-class>cl.metlife.hdp.botonpago.utils.temp.CrearPago</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>cgibin</servlet-name>
        <url-pattern>/cgi-bin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioPagoServipag</servlet-name>
        <url-pattern>/InicioPagoServipag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoFinalizado</servlet-name>
        <url-pattern>/PagoFinalizado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoFinalizadoWebPay</servlet-name>
        <url-pattern>/PagoFinalizadoWebPay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioPago</servlet-name>
        <url-pattern>/InicioPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SantanderPagado</servlet-name>
        <url-pattern>/santanderpagado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SantanderNotify</servlet-name>
        <url-pattern>/santandernotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioPagoSantander</servlet-name>
        <url-pattern>/InicioPagoSantander</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioPagoXML</servlet-name>
        <url-pattern>/InicioPagoXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioPagoWebPay</servlet-name>
        <url-pattern>/InicioPagoWebPay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyWebPay</servlet-name>
        <url-pattern>/NotifyWebPay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servipagnotify</servlet-name>
        <url-pattern>/servipagnotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servipagpagado</servlet-name>
        <url-pattern>/servipagpagado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearPago</servlet-name>
        <url-pattern>/temptest/CrearPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DummyStartPayment</servlet-name>
        <url-pattern>/DummyStartPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DummyNotify</servlet-name>
        <url-pattern>/DummyNotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DummyPayed</servlet-name>
        <url-pattern>/DummyPayed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReloadConfig</servlet-name>
        <url-pattern>/ReloadConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Campaign</servlet-name>
        <url-pattern>/css2/style.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioPagoEstado</servlet-name>
        <url-pattern>/InicioPagoEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyPagoEstado</servlet-name>
        <url-pattern>/NotifyBEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndPagoEstado</servlet-name>
        <url-pattern>/EndBEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaDatosPatPass</servlet-name>
        <url-pattern>CapturaDatosPatPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioPagoFacilitador</servlet-name>
        <url-pattern>/InicioPagoFacilitador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyFacilitador</servlet-name>
        <url-pattern>/NotifyFacilitador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndFacilitador</servlet-name>
        <url-pattern>/EndFacilitador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioPagoPatPass</servlet-name>
        <url-pattern>/InicioPagoPatPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CierrePatPass</servlet-name>
        <url-pattern>/CierrePatPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyPatPass</servlet-name>
        <url-pattern>/NotifyPatPass</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>70</session-timeout>
    </session-config>

</web-app>